@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura/FuturaPT-Medium.ttf');
}
@font-face {
  font-family: 'FuturaLight';
  src: url('/fonts/Futura/FuturaPT-Light.ttf');
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  font-family: Futura, sans-serif;
  background: white;
  min-height: 100vh !important;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: 70px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255,195,241,1);
}

footer {
  margin-top: auto;
  padding: 5px;
  position: relative;
  height: 70px;
  padding: 5px 10px;
  background-color: white;
}

