.container {
  height: 100%;
  min-height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
}

.main {
  position: relative;
  height: 100%;
  background: url('/images/Sofa_Julia.jpg') no-repeat center;
  background-size: cover;
}

.ads {
  background: url('/images/SleepingBaby.jpg') no-repeat center;
  background-size: contain;
}
