.container {
  width: 100%;
  flex-grow: 1;
}

.main {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  height: calc(100% - 140px);
}

.main::before {
  position: absolute;
  z-index: 3;
  display: block;
  content: '';
  height: 8px;
  width: 85%;
  left: 0;
  top: -4px;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(rgba(227, 36, 141, 0.4), rgb(145, 6, 83));
}
